/* Estilos generales */

body
{
    font-family: 'Arial';
    background: #353a45;
    color: #b4b5b8;
}

a
{
    font-weight: bold;
}

h2, h3, h4
{
    cursor: pointer;
}

blockquote
{
    text-align: end;
    font-style: italic;
}

/* Introducción al sitio */

.introduccion
{
    margin: 1vh 2vw 1vh 2vw;
}

.introduccion h1
{
    color: #b4b5b8;
}

.introduccion p
{
    color: #ebebeb;
    font-weight: bolder;
}

/* Estilos a las etapas de mi camino (h2) */

.secundaria,
.bachillerato,
.bachilleratointernacional,
.licenciatura,
.aprendizajeautodidacta
{
    color: #000000;
    margin: 2vh 2vw 2vh 2vw;
    padding: 0.2vh 1vw 0.2vh 1vw;
    border-radius: 1rem;
}

.secundaria
{
    background: #F4B183;
}

.bachillerato
{
    background: #FFE699;
}

.bachillerato p
{
    color: #000000;
}

.bachilleratointernacional
{
    background: #DAE3F3;
}

.licenciatura
{
    background: #A6A6A6;
}

.aprendizajeautodidacta
{
    background: #C5E0B4;
}

/* Estilos a los semestres (h3) */

.classh3
{
    background: #c2c2c2;
    color: #000000;
    margin: 1.6vh 2vw 1.6vh 2vw;
    padding: 0.1vh 1vw 0.1vh 1vw;
    border-radius: 1rem;
}

.classh4
{
    background: #dfdfdf;
    color: #000000;
    margin: 1vh 2vw 1vh 2vw;
    padding: 0.1vh 1vw 0.1vh 1vw;
    border-radius: 1rem;
}